
.map-section{
    height: 50%;
    // margin: 2% 0;
    display:flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
   .y-div{
        width: 100%;
        height: 6vh;
        display:flex;
        justify-content: center;
        
    }
    .x-div{
        text-align: center; 
        width:50%;
        // height: 100%;
        display: flex;
        justify-content: center;
        // margin: .2%;
        border: 10px solid #3E5C76;

    } 
    .room{
        border: 10px solid black;
        background: darkgray;
        color:black;
        position: relative;

        .player{
            width: 100%;
            height: 100%;
           
        }
        .inroom{
            overflow:hidden;
            background: green;
            position: absolute;
            z-index: 3;
        }
        .path{
            background: darkgrey;
            z-index: 1;
        }
        .south{
            background: darkgrey;
            width: 15px;
            height: 50px;
            position: relative;
            z-index: 1;
            top: 55%;
            left: 40.5%;
        }
        .south.inroom{
            width: 12px;
            left: 0;
        }

        .west{
            background: darkgray;
            width: 60px;
            height: 12px;
            position: relative;
            top: 6px;
            left: -30px;
        }
        .west.inroom{
            right: -20px;
        }
        

    }
    
 
    
}
